{{$choices := list "desktop" "server"}}
{{$hosttype := promptChoiceOnce . "hosttype" "What type of host are you on" $choices}}

[data]
    hosttype = {{- $hosttype | quote -}}


{{ if eq .chezmoi.os "linux"}}

# not worth the squeeze
# chezmoi bootstrap: install secrets manager (1password) before rendering further templates
# [hooks.read-source-state.pre]
#     command = ".local/share/chezmoi/home/.chezmoiscripts/linux/.install.sh"

{{end}}


{{ if eq $hosttype "server" }}
[onepassword]
    mode = "service"
{{- end -}}
