# todo: write something in a real programming language to sync a packages list.yml into system pkg manager
# note: I'll bet this exists already outside of ansible (preferably no deps, since we're bootstrapping pkgs here)
# note: the pwsh version of this is under chrishenn/unattend
# ---

# when the contents of packages.yaml changes, this hash will change, triggering this script to run on next chezmoi apply
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

write-host -f cyan "scoop self: installing"
scoop_self_install
write-host -f green "scoop self: installed"

write-host -f cyan "scoop buckets: installing"
{{ range .packages.windows.scoop_bucket -}}
scoop_bucket {{ . | quote }}
{{ end -}}
write-host -f green "scoop buckets: installed"

write-host -f cyan "scoop packages: installing"
scoop install --skip-hash-check {{ range .packages.windows.scoop -}} {{ . | quote }} {{ end }}
write-host -f green "scoop packages: installed"

write-host -f cyan "scoop shims: installing"
{{ range .packages.windows.scoop_shim -}}
scoop_shim {{ . | quote }}
{{ end -}}
write-host -f green "scoop shims: installed"


write-host -f green "windows packages: done"
