# when the contents of packages.yaml changes, this hash will change, triggering this script to run on next chezmoi apply
# packages.yaml hash: {{ include ".chezmoidata/packages.yaml" | sha256sum }}

function scoop_bucket (
    [parameter(Mandatory = $true)][ValidateNotNullOrEmpty()][string]$name
) {
    # add bucket if not present
    $bs = (scoop export | ConvertFrom-Json).buckets
    $inst = ($bs | where-object {$_.name -eq "$name"} | measure).count -gt 0
    if (-not $inst) {
        try {
            scoop bucket add $name
        } catch {
            write-host "error while adding bucket $name"
        }
    }
}

write-host "scoop buckets: installing" -foregroundcolor cyan
{{ range .packages.windows.scoop_bucket -}}
scoop_bucket {{ . | quote }}
{{ end -}}
write-host "scoop buckets: installed" -foregroundcolor green

scoop update

write-host "scoop packages: installing" -foregroundcolor cyan
scoop install {{ range .packages.windows.scoop -}} {{ . | quote }} {{ end }}
write-host "scoop packages: installed" -foregroundcolor green


write-host "windows packages installer: done" -foregroundcolor green
